<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AlexaVR</title>

    <!-- Bootstrap CDN-->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>

  <body>
    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>
