<script
       src="https://code.jquery.com/jquery-3.1.1.min.js"
       integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
       crossorigin="anonymous"></script>
<main id="app">Loading...</main>
{{!--<a-scene>
    <a-cylinder id="cyl" position="0 0.75 -3" radius="0.3" height="1.5" color="grey">
        <a-animation attribute="rotation" dur="10000" fill="forwards" to="180 360 0" begin="dance"></a-animation>
    </a-cylinder>

    <a-assets>
        <a-asset-item id="bear-obj" src="/assets/obj/bear-obj.obj"></a-asset-item>
        <a-asset-item id="bear-mtl" src="/assets/obj/bear-obj.mtl"></a-asset-item>
    </a-assets>
    <a-entity obj-model="obj: #bear-obj; mtl: #bear-mtl" position="0 0 0" rotation="0 180 0" scale=".1 .1 .1"></a-entity>
    <a-entity scale="0.05 0.05 0.05" object-model="src: url(/assets/obj/pikachu-pokemon-go-threejs/pikachu-pokemon-go.json);"></a-entity>

    <a-plane position="0 0 -4" rotation="-90 0 0" width="40" height="40" color="#7BC8A4"></a-plane>
    <a-sky color="#ECECEC"></a-sky>
</a-scene>--}}

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
        $('#cyl')[0].emit('dance');
    });
</script>